<div class="container">
    <div>
        <a class="btn btn-lg btn-primary" role="button" (click)="resrveLocker(false)">The Reserve Button</a>
    </div>
</div>
<div class="divSize">
    <table class="table  table-bordered ">
        <thead>
            <tr>
                <th scope="col" *ngFor="let locker of lockers"
                    [ngClass]="{'bg-success breakword': locker.status==='free', 'table-danger breakword' : locker.status==='busy',  'table-warning breakword' : locker.status==='next'}">
                    {{locker.lockerId}}<br> {{locker.msg}}</th>
            </tr>
        </thead>
    </table>
</div>